@import "_variables";
@import "_mixins";

body {
	@include reset;
	background-color: $background-color;
	font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
	width: 2560px;
	height: 1611px;
}

.flex-center {
	@include flex-center;
}
.slider_days {
	display: none;
}
