@import "_variables";
@import "_mixins";

.footer {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	width: 978px;
	height: 208px;

	.foot {
		width: 250px;

		.foot__h2 {
			font-size: 28px;
			color: $header-font-color;
		}

		.foot__text {
			font-size: 14px;
			color: $header-font-color;
		}

		.foot__button_buy {
			font-size: 16px;
			width: 106px;
			height: 34px;
			border-radius: 5px;
			color: #a4a4a4;
			border-width: 2px;
			border-color: rgb(192, 192, 192);
			background-color: rgba(255, 255, 255, 0);
			cursor: pointer;

			&::before,
			&::after {
				display: block;
				content: "";
				width: 0;
				height: 0;
				position: absolute;
			}
			&::before {
				top: 958px;
				left: 791px;
				border-top: 2px solid transparent;
				border-left: 2px solid transparent;

				border-radius: 1px;
				transition: 0.5s all;
			}
			&::after {
				bottom: -72px;
				right: 1006px;
				border-bottom: 2px solid transparent;
				border-right: 2px solid transparent;
				border-radius: 1px;
				transition: 0.6s all;
			}
			&:hover::before,
			&:hover::after {
				border-color: #ffc79a;
				width: 104px;
				height: 31px;
			}
			&:hover {
				border-radius: 3px;
				background: rgb(246, 246, 246);
				background: linear-gradient(
					0deg,
					rgba(238, 238, 238, 1) 0%,
					rgba(249, 249, 249, 1) 100%
				);
			}
		}

		.foot__button_ios {
			font-size: 16px;
			width: 96px;
			height: 34px;
			border-radius: 5px;
			color: #a4a4a4;
			border-width: 2px;
			border-color: rgb(192, 192, 192);
			background-color: rgba(255, 255, 255, 0);
			cursor: pointer;

			&::before,
			&::after {
				display: block;
				content: "";
				width: 10px;
				height: 10px;
				position: absolute;
			}
			&::before {
				top: 958px;
				left: 1145px;
				border-top: 2px solid transparent;
				border-left: 2px solid transparent;
				border-radius: 1px;
				transition: 0.5s all;
			}
			&::after {
				bottom: -72px;
				right: 662px;
				border-bottom: 2px solid transparent;
				border-right: 2px solid transparent;
				border-radius: 1px;
				transition: 0.6s all;
			}
			&:hover::before,
			&:hover::after {
				border-color: #ffc79a;
				width: 94px;
				height: 31px;
			}
			&:hover {
				border-radius: 3px;
				background: rgb(246, 246, 246);
				background: linear-gradient(
					0deg,
					rgba(238, 238, 238, 1) 0%,
					rgba(249, 249, 249, 1) 100%
				);
			}
		}

		.foot__button_android {
			font-size: 16px;
			margin-left: 14px;
			width: 126px;
			height: 34px;
			border-radius: 5px;
			color: #a4a4a4;
			border-width: 2px;
			border-color: rgb(192, 192, 192);
			background-color: rgba(255, 255, 255, 0);
			cursor: pointer;

			&::before,
			&::after {
				display: block;
				content: "";
				width: 10px;
				height: 10px;
				position: absolute;
			}
			&::before {
				top: 960px;
				left: 1255px;
				border-top: 2px solid transparent;
				border-left: 2px solid transparent;
				border-radius: 1px;
				transition: 0.5s all;
			}
			&::after {
				bottom: -74px;
				right: 522px;
				border-bottom: 2px solid transparent;
				border-right: 2px solid transparent;
				border-radius: 1px;
				transition: 0.6s all;
			}
			&:hover::before,
			&:hover::after {
				border-color: #ffc79a;
				width: 124px;
				height: 31px;
			}
			&:hover {
				border-radius: 3px;
				background: rgb(246, 246, 246);
				background: linear-gradient(
					0deg,
					rgba(238, 238, 238, 1) 0%,
					rgba(249, 249, 249, 1) 100%
				);
			}
		}

		.foot__button_faq {
			font-size: 16px;
			width: 127px;
			height: 34px;
			border-radius: 5px;
			color: #a4a4a4;
			border-width: 2px;
			border-color: rgb(192, 192, 192);
			background-color: rgba(255, 255, 255, 0);
			cursor: pointer;

			&::before,
			&::after {
				display: block;
				content: "";
				width: 10px;
				height: 10px;
				position: absolute;
			}
			&::before {
				top: 958px;
				left: 1499px;
				border-top: 2px solid transparent;
				border-left: 2px solid transparent;
				border-radius: 1px;
				transition: 0.5s all;
			}
			&::after {
				bottom: -72px;
				right: 277px;
				border-bottom: 2px solid transparent;
				border-right: 2px solid transparent;
				border-radius: 1px;
				transition: 0.6s all;
			}
			&:hover::before,
			&:hover::after {
				border-color: #ffc79a;
				width: 124px;
				height: 31px;
			}
			&:hover {
				border-radius: 3px;
				background: rgb(246, 246, 246);
				background: linear-gradient(
					0deg,
					rgba(238, 238, 238, 1) 0%,
					rgba(249, 249, 249, 1) 100%
				);
			}
		}
	}
	.foot3 {
		margin-right: 20px;
	}
}
