@media (min-width: 320px) and (max-width: 414px) {
	.header {
		display: none;
	}
	.flex-center {
		display: none;
	}
	.table {
		display: none;
	}
	.footer {
		display: none;
	}
	.main-wrapper {
		width: 100vw;
		height: 50vh;
	}
	.main {
		width: 100vw;
	}
	.week {
		width: 200px;
	}
	.header--width {
		display: none;
	}
	.mobile-fc {
		display: block;
		.mobile-progress {
			position: relative;
			left: 30%;
			top: 20%;
		}
		.slider {
			position: relative;
			right: 43%;
			top: 70%;
		}
		.mobile-icon-wrapper {
			position: relative;
			right: 19%;
			bottom: 50%;
		}
	}
	.slider_days {
		display: block;
		margin-top: 15%;
	}

	.slider__day {
		margin-left: 5%;
		position: absolute;
		display: flex;
		align-items: center;
		opacity: 0;
	}
	.slider__day.active {
		display: flex;
		align-items: center;
		opacity: 1;
	}
	.slider__button__1-day {
		position: relative;
		left: 2px;
		height: 30px;
	}
	.slider__button__2-day {
		right: 15px;
		height: 30px;
	}
	.img-mobile {
		height: 560px;
		width: 320px;
	}

	#menuToggle {
		display: block;
		position: relative;
		bottom: 155px;
		left: 5px;

		z-index: 1;

		-webkit-user-select: none;
		user-select: none;
	}

	#menuToggle a {
		text-decoration: none;
		color: #232323;

		transition: color 0.3s ease;
	}

	#menuToggle a:hover {
		color: tomato;
	}

	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0;
		z-index: 2;

		-webkit-touch-callout: none;
	}

	#menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #cdcdcd;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			opacity 0.55s ease;
	}

	#menuToggle span:first-child {
		transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	#menuToggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	#menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	#menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;

		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	}

	#menu li {
		padding: 10px 0;
		font-size: 22px;
	}

	#menuToggle input:checked ~ ul {
		transform: none;
	}
}
