@import "_variables";
@import "_mixins";

.slider {
	width: 325px;

	.slider__weeks {
		display: flex;
		align-items: center;
		font-weight: 100;
		margin-top: 0px;
		margin-left: 0;
		margin-right: 0;
		font-size: 30px;
		color: rgb(255, 128, 26);
		position: absolute;
		opacity: 0;
	}
	.slider__weeks.active {
		opacity: 1;
	}

	.slider__button__1 {
		height: 44px;
		width: 25px;
		border-width: 1px;
		border-color: rgb(192, 192, 192);
		background-color: rgba(255, 255, 255, 0);
		border-radius: 5px;
	}

	.slider__button__2 {
		position: absolute;
		left: 268px;
		height: 44px;
		width: 25px;
		border-width: 1px;
		border-color: rgb(192, 192, 192);
		background-color: rgba(255, 255, 255, 0);
		border-radius: 5px;
	}
	.week {
		margin-left: 45px;
		margin-right: 45px;
	}
}
