@import "_variables";
@import "_mixins";

.user {
	@include flex-aic;
	justify-content: flex-end;
	margin-right: 166px;

	.user__img {
		margin-bottom: 1px;
		margin-right: 15px;
		width: 34px;
		height: 34px;
	}

	.user__id {
		font-weight: bold;
		font-size: 14px;
		margin-right: 10px;
		color: $header-font-color;
	}
}
