body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	font-family: Arial, Helvetica, sans-serif;
}
.main-wrapper {
	width: 2560px;
	height: 1611px;
}
.flex-center {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
}
.slider_days {
	display: none;
}
.footer {
	margin-top: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 978px;
	height: 208px;
}
.footer .foot {
	width: 250px;
}
.footer .foot .foot__h2 {
	font-size: 28px;
	color: #7c7c7c;
}
.footer .foot .foot__text {
	font-size: 14px;
	color: #7c7c7c;
}
.footer .foot .foot__button_buy {
	font-size: 16px;
	width: 106px;
	height: 34px;
	border-radius: 5px;
	color: #a4a4a4;
	border-width: 2px;
	border-color: silver;
	background-color: hsla(0, 0%, 100%, 0);
	cursor: pointer;
}
.footer .foot .foot__button_buy:after,
.footer .foot .foot__button_buy:before {
	display: block;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
}
.footer .foot .foot__button_buy:before {
	top: 958px;
	left: 791px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.5s;
}
.footer .foot .foot__button_buy:after {
	bottom: -72px;
	right: 1006px;
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.6s;
}
.footer .foot .foot__button_buy:hover:after,
.footer .foot .foot__button_buy:hover:before {
	border-color: #ffc79a;
	width: 104px;
	height: 31px;
}
.footer .foot .foot__button_buy:hover {
	border-radius: 3px;
	background: #f6f6f6;
	background: linear-gradient(0deg, #eee, #f9f9f9);
}
.footer .foot .foot__button_ios {
	font-size: 16px;
	width: 96px;
	height: 34px;
	border-radius: 5px;
	color: #a4a4a4;
	border-width: 2px;
	border-color: silver;
	background-color: hsla(0, 0%, 100%, 0);
	cursor: pointer;
}
.footer .foot .foot__button_ios:after,
.footer .foot .foot__button_ios:before {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
}
.footer .foot .foot__button_ios:before {
	top: 958px;
	left: 1145px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.5s;
}
.footer .foot .foot__button_ios:after {
	bottom: -72px;
	right: 662px;
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.6s;
}
.footer .foot .foot__button_ios:hover:after,
.footer .foot .foot__button_ios:hover:before {
	border-color: #ffc79a;
	width: 94px;
	height: 31px;
}
.footer .foot .foot__button_ios:hover {
	border-radius: 3px;
	background: #f6f6f6;
	background: linear-gradient(0deg, #eee, #f9f9f9);
}
.footer .foot .foot__button_android {
	font-size: 16px;
	margin-left: 14px;
	width: 126px;
	height: 34px;
	border-radius: 5px;
	color: #a4a4a4;
	border-width: 2px;
	border-color: silver;
	background-color: hsla(0, 0%, 100%, 0);
	cursor: pointer;
}
.footer .foot .foot__button_android:after,
.footer .foot .foot__button_android:before {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
}
.footer .foot .foot__button_android:before {
	top: 960px;
	left: 1255px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.5s;
}
.footer .foot .foot__button_android:after {
	bottom: -74px;
	right: 522px;
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.6s;
}
.footer .foot .foot__button_android:hover:after,
.footer .foot .foot__button_android:hover:before {
	border-color: #ffc79a;
	width: 124px;
	height: 31px;
}
.footer .foot .foot__button_android:hover {
	border-radius: 3px;
	background: #f6f6f6;
	background: linear-gradient(0deg, #eee, #f9f9f9);
}
.footer .foot .foot__button_faq {
	font-size: 16px;
	width: 127px;
	height: 34px;
	border-radius: 5px;
	color: #a4a4a4;
	border-width: 2px;
	border-color: silver;
	background-color: hsla(0, 0%, 100%, 0);
	cursor: pointer;
}
.footer .foot .foot__button_faq:after,
.footer .foot .foot__button_faq:before {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
}
.footer .foot .foot__button_faq:before {
	top: 958px;
	left: 1499px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.5s;
}
.footer .foot .foot__button_faq:after {
	bottom: -72px;
	right: 277px;
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	border-radius: 1px;
	transition: all 0.6s;
}
.footer .foot .foot__button_faq:hover:after,
.footer .foot .foot__button_faq:hover:before {
	border-color: #ffc79a;
	width: 124px;
	height: 31px;
}
.footer .foot .foot__button_faq:hover {
	border-radius: 3px;
	background: #f6f6f6;
	background: linear-gradient(0deg, #eee, #f9f9f9);
}
.footer .foot3 {
	margin-right: 20px;
}
.header {
	border-bottom: 1px solid #e1e1e1;
	height: 79px;
	background-color: #fff;
}
.header-margin {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-left: 10.7%;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 79px;
	width: 1024px;
	border-left: 1px solid #e9e9e9;
}
.header--width {
	width: 489px;
}
.main {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 978px;
	height: 100px;
}
.main .head__h3,
.main .head__h3-2 {
	margin-top: 38px;
	font-size: 8.8px;
	color: #bdbdbd;
}
.main .head__h3-2 {
	margin-left: 0;
}
.main .head__bar {
	width: 234px;
	margin-bottom: 15px;
}
.main .icon-food-wrapper {
	width: 206px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
@media (min-width: 360px) and (max-width: 414px) {
	body {
		background-color: #f9f9f9;
	}
}
@media (min-width: 360px) and (max-width: 414px) {
	.flex-center,
	.footer,
	.header,
	.table {
		display: none;
	}
	.main-wrapper {
		width: 100vw;
		height: 100vh;
	}
	.main {
		width: 100vw;
	}
	.week {
		width: 200px;
	}
	.header--width {
		display: none;
	}
	.mobile-fc {
		display: block;
	}
	.mobile-fc .mobile-progress {
		position: relative;
		left: 30%;
		top: 20%;
	}
	.mobile-fc .slider {
		position: relative;
		right: 43%;
		top: 70%;
	}
	.mobile-fc .mobile-icon-wrapper {
		position: relative;
		right: 19%;
		bottom: 50%;
	}
	.slider_days {
		display: block;
		margin-top: 15%;
	}
	.slider__day {
		margin-left: 5%;
		position: absolute;
		opacity: 0;
	}
	.slider__day,
	.slider__day.active {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	.slider__day.active {
		opacity: 1;
	}
	.slider__button__1-day {
		position: relative;
		left: 2px;
		height: 30px;
	}
	.slider__button__2-day {
		right: 15px;
		height: 30px;
	}
	.img-mobile {
		height: 560px;
		width: 320px;
	}
	#menuToggle {
		display: block;
		position: relative;
		bottom: 155px;
		left: 5px;
		z-index: 1;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#menuToggle a {
		text-decoration: none;
		color: #232323;
		transition: color 0.3s ease;
	}
	#menuToggle a:hover {
		color: tomato;
	}
	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}
	#menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		-webkit-transform-origin: 4px 0;
		transform-origin: 4px 0;
		transition: opacity 0.55s ease,
			-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			opacity 0.55s ease;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			opacity 0.55s ease,
			-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	}
	#menuToggle span:first-child {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}
	#menuToggle span:nth-last-child(2) {
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
	}
	#menuToggle input:checked ~ span {
		opacity: 1;
		-webkit-transform: rotate(45deg) translate(-2px, -1px);
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}
	#menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0.2);
		transform: rotate(0deg) scale(0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2) {
		-webkit-transform: rotate(-45deg) translateY(-1px);
		transform: rotate(-45deg) translateY(-1px);
	}
	#menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 125px 50px 50px;
		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	}
	#menu li {
		padding: 10px 0;
		font-size: 22px;
	}
	#menuToggle input:checked ~ ul {
		-webkit-transform: none;
		transform: none;
	}
}
.navigation .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 0;
	margin-top: 17px;
}
.navigation .menu .menu__item {
	list-style-type: none;
	margin-left: 33px;
}
.navigation .menu .menu__item .dashboard {
	position: absolute;
	left: 912px;
	top: 35px;
}
.navigation .menu .menu__item .recipes {
	position: absolute;
	left: 1020px;
	top: 35px;
}
.navigation .menu .menu__item .challenge {
	position: absolute;
	left: 1130px;
	top: 35px;
}
.navigation .menu .menu__link {
	text-align: center;
	width: 144px;
	display: inline-block;
	text-decoration: none;
	font-size: 14.445px;
	color: #7c7c7c;
	font-weight: 700;
}
.navigation .menu .menu__link:after {
	content: "";
	display: block;
	margin: 5px 59px;
	border-bottom: 3px solid #ffc79a;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: -webkit-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.navigation .menu .menu__link:hover {
	color: #ff801a;
}
.navigation .menu .menu__link:hover:after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.slider {
	width: 325px;
}
.slider .slider__weeks {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	font-weight: 100;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-size: 30px;
	color: #ff801a;
	position: absolute;
	opacity: 0;
}
.slider .slider__weeks.active {
	opacity: 1;
}
.slider .slider__button__1,
.slider .slider__button__2 {
	height: 44px;
	width: 25px;
	border-width: 1px;
	border-color: silver;
	background-color: hsla(0, 0%, 100%, 0);
	border-radius: 5px;
}
.slider .slider__button__2 {
	position: absolute;
	left: 268px;
}
.slider .week {
	margin-left: 45px;
	margin-right: 45px;
}
.table {
	background-color: #fff;
	background-image: url(img/background-hours.png);
	width: 978px;
	height: 580px;
	border-collapse: collapse;
	margin-top: 12px;
	margin-bottom: 20px;
}
.table .checked-position4 {
	position: absolute;
	top: 528px;
	left: 980px;
}
.table .checked-position3 {
	position: absolute;
	top: 436px;
	left: 980px;
}
.table .checked-position2 {
	position: absolute;
	top: 344px;
	left: 980px;
}
.table .checked-position1 {
	position: absolute;
	top: 252px;
	left: 980px;
}
.table .table__th {
	border: 1px solid #e9e9e9;
	color: #b2c200;
	font-size: 25px;
	font-weight: 400;
}
.table .table__td {
	border: 1px solid #e9e9e9;
	text-align: center;
	color: #7c7c7c;
}
.table .table__td .vertical-guilt-free {
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	font-size: 33px;
	color: #c2c2c2;
}
.table .table__td .hour-weight {
	font-weight: 400;
	color: #7c7c7c;
}
.table .table-first-row {
	color: #7c7c7c;
	font-size: 11.5px;
	font-weight: 700;
	text-align: center;
}
.table .table-width-ef {
	width: 85px;
}
.table .table-th-height {
	height: 51px;
}
.table .table-height-main {
	height: 89.5px;
	font-size: 14px;
}
.table .table-height-diet {
	height: 31px;
}
.table .table-width-main {
	width: 127px;
}
.table .check {
	margin-left: 5px;
	position: absolute;
}
.table .printer {
	position: absolute;
	bottom: 165px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	font-weight: 400;
	font-size: 18px;
}
.table .printer .printer-image {
	margin-right: 10px;
}
.table .text-align-left {
	text-align: left;
}
.table .day65 {
	color: #000;
	border-left: 2px solid #ff801a;
	border-right: 2px solid #ff801a;
}
.table .day65-top {
	border-top: 2px solid #ff801a;
	color: #ff801a;
}
.table .day65-bottom {
	border-bottom: 2px solid #ff801a;
}
.table .day65-color {
	color: #7c7c7c;
}
.user {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	margin-right: 166px;
}
.user .user__img {
	margin-bottom: 1px;
	margin-right: 15px;
	width: 34px;
	height: 34px;
}
.user .user__id {
	font-weight: 700;
	font-size: 14px;
	margin-right: 10px;
	color: #7c7c7c;
}
/*# sourceMappingURL=all.css.map */
