.footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 978px;
  height: 208px;
}

.footer .foot {
  width: 250px;
}

.footer .foot .foot__h2 {
  font-size: 28px;
  color: #7c7c7c;
}

.footer .foot .foot__text {
  font-size: 14px;
  color: #7c7c7c;
}

.footer .foot .foot__button_buy {
  font-size: 16px;
  width: 106px;
  height: 34px;
  border-radius: 5px;
  color: #a4a4a4;
  border-width: 2px;
  border-color: silver;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.footer .foot .foot__button_buy::before, .footer .foot .foot__button_buy::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

.footer .foot .foot__button_buy::before {
  top: 958px;
  left: 791px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .foot .foot__button_buy::after {
  bottom: -72px;
  right: 1006px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.footer .foot .foot__button_buy:hover::before, .footer .foot .foot__button_buy:hover::after {
  border-color: #ffc79a;
  width: 104px;
  height: 31px;
}

.footer .foot .foot__button_buy:hover {
  border-radius: 3px;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#f9f9f9));
  background: linear-gradient(0deg, #eeeeee 0%, #f9f9f9 100%);
}

.footer .foot .foot__button_ios {
  font-size: 16px;
  width: 96px;
  height: 34px;
  border-radius: 5px;
  color: #a4a4a4;
  border-width: 2px;
  border-color: silver;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.footer .foot .foot__button_ios::before, .footer .foot .foot__button_ios::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}

.footer .foot .foot__button_ios::before {
  top: 958px;
  left: 1145px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .foot .foot__button_ios::after {
  bottom: -72px;
  right: 662px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.footer .foot .foot__button_ios:hover::before, .footer .foot .foot__button_ios:hover::after {
  border-color: #ffc79a;
  width: 94px;
  height: 31px;
}

.footer .foot .foot__button_ios:hover {
  border-radius: 3px;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#f9f9f9));
  background: linear-gradient(0deg, #eeeeee 0%, #f9f9f9 100%);
}

.footer .foot .foot__button_android {
  font-size: 16px;
  margin-left: 14px;
  width: 126px;
  height: 34px;
  border-radius: 5px;
  color: #a4a4a4;
  border-width: 2px;
  border-color: silver;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.footer .foot .foot__button_android::before, .footer .foot .foot__button_android::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}

.footer .foot .foot__button_android::before {
  top: 960px;
  left: 1255px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .foot .foot__button_android::after {
  bottom: -74px;
  right: 522px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.footer .foot .foot__button_android:hover::before, .footer .foot .foot__button_android:hover::after {
  border-color: #ffc79a;
  width: 124px;
  height: 31px;
}

.footer .foot .foot__button_android:hover {
  border-radius: 3px;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#f9f9f9));
  background: linear-gradient(0deg, #eeeeee 0%, #f9f9f9 100%);
}

.footer .foot .foot__button_faq {
  font-size: 16px;
  width: 127px;
  height: 34px;
  border-radius: 5px;
  color: #a4a4a4;
  border-width: 2px;
  border-color: silver;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.footer .foot .foot__button_faq::before, .footer .foot .foot__button_faq::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
}

.footer .foot .foot__button_faq::before {
  top: 958px;
  left: 1499px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .foot .foot__button_faq::after {
  bottom: -72px;
  right: 277px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.footer .foot .foot__button_faq:hover::before, .footer .foot .foot__button_faq:hover::after {
  border-color: #ffc79a;
  width: 124px;
  height: 31px;
}

.footer .foot .foot__button_faq:hover {
  border-radius: 3px;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#f9f9f9));
  background: linear-gradient(0deg, #eeeeee 0%, #f9f9f9 100%);
}

.footer .foot3 {
  margin-right: 20px;
}
/*# sourceMappingURL=footer.css.map */